# Python
__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual - não será utilizado neste projeto
.venv/
venv/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Arquivos temporários
*.tmp
*.log

# Bases originais do BPS
dados/brutos/*.zip
dados/brutos/**/*.csv

# Bases processadas geradas pelo projeto
dados/processados/*.csv
dados/processados/*.xlsx
dados/processados/*.parquet
